/* Universal Styles */
* {
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}


.light-section{
  background color: peach;
}

.dark-section{
  background color: navy;
}
