/* Universal Styles */
* {
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
  font-family: "Krub", sans-serif;
}

body{
  border: none;
}

.header{
  text-align: center;
  font-size: 4rem;
}

.light-section{
  background-color: peach;
  color: black;
}

.dark-section{
  background-color: black;
  color: white;
}

.banner{
  background-image: url('https://images.unsplash.com/photo-1532689193429-29caa23e5268?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  padding: 15%;
  min-height: 40vh;
  background-position: 45% 75%;
  color: white;
  }
