/* Universal Styles */
* {
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}


.light-section{
  background-color: peach;
}

.dark-section{
  background-color: navy;
}

.banner{
  background-image: url('https://images.unsplash.com/photo-1698742139641-8dce61bd8ede?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  padding: 15%;
  min-height: 40vh;
  background-position: 45% 75%;
}
